# --- PyTorch / TimeSformer ---
torch>=2.2.0
torchvision>=0.17.0
pytorchvideo==0.1.5
transformers>=4.41.0

# --- Общие библиотеки ---
numpy
opencv-python
Pillow
av
pandas
tqdm
boltons
gradio>=4.39.0
yt-dlp
openpyxl
scikit-learn
umap-learn
plotly>=5.20.0
tensorboardX>=2.6
requests
ultralytics>=8.2.0
yacs>=0.1.8
pytesseract

# --- Аудио + YAMNet ---
tensorflow>=2.15.0
tensorflow-hub>=0.16.1
librosa>=0.10.1
soundfile>=0.12.1
ffmpeg-python>=0.2.0
pyloudnorm>=0.1.1

# Для Wav2Vec2
transformers>=4.41.0
torch>=2.2.0
librosa>=0.10.1
soundfile>=0.12.1
ffmpeg-python>=0.2.0

# Для Whisper-пайплайна
openai-whisper>=20231117
noisereduce>=3.0.2
scipy>=1.11.0
sentence-transformers>=2.7.0

# (опционально, чтобы убрать предупреждение TF Hub о pkg_resources)
setuptools<81
